
Library/ArtifactDB
Library/Artifacts/2e/2ea53b6808ba5d5fba564055d6efb2be
Library/Artifacts/f2/f24bff48b8b81faae9cd6e65504b8414
Library/Bee/fullprofile.json
Library/EditorInstance.json
Library/Search/transactions.db
Library/SourceAssetDB
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
ProjectSettings/SceneTemplateSettings.json
Temp/FSTimeGet-165fe57f5860a09498b33b6d071f8570
Temp/FSTimeGet-2ae7ecec42135f64fbf7b092fe2f51d9
Temp/FSTimeGet-41c7ffed65f9a6c4e94722cd97896929
Temp/UnityLockfile
Temp/workerlic
